<div class="row col-md-6 col-md-offset-3" ng-controller="LoginController" ng-init="init()">
    <form role="form" method="POST" name="tbiLoginForm" novalidate>
        <div class="form-group" ng-class="{'has-error': tbiLoginForm.loginName.$error.required}">
            <label>Login name</label>
            <input name="loginName" type="text" ng-model="loginViewModel.loginName" class="form-control" required />
            <span class="warning" ng-show="tbiLoginForm.loginName.$error.required">
                Login name is required
            </span>
        </div>
        <div class="form-group" ng-class="{'has-error': tbiLoginForm.password.$error.required}">
            <label>Password</label>
            <input name="password" type="password" ng-model="loginViewModel.password" class="form-control" required />
            <span class="warning" ng-show="tbiLoginForm.password.$error.required">
                Password is required
            </span>
        </div>
        <div class="form-group" ng-class='{busy: loginViewModel.isBusy}'>
            <div class="btn btn-primary pull-right" ng-click="login()" ng-disabled="tbiLoginForm.$invalid">
                <span ng-hide='loginViewModel.isBusy'>login</span>
                <img ng-show='loginViewModel.isBusy' ng-disabled='loginViewModel.isBusy' src="./content/busyindicator.gif" />
            </div>
        </div>
    </form>
</div>
