@model ToBeImplemented.Domain.ViewModel.Concepts.DeleteConceptViewModel

<div class="row">
    @Model.Title
</div>
<div class="row">
    @Model.Confirmation
</div>
<form method="POST">
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            <a href="@Url.Action("Details", "Concepts", new { id = Model.Id })" class="btn btn-success">Back</a>
            <input type="submit" class="btn btn-danger pull-right" value="Yes" />
        </div>
    </div>
</form>
