<div class="row" ng-controller="ConceptDetailsController" ng-init="init()">
    <div class="row" ng-show='details.isBusy'>
        <div class="col-md-1 col-md-offset-5">
            <img src="/content/busyindicator.gif">loading...</img>
        </div>
    </div>
    <div class="row" ng-hide='details.isBusy'>
        <div ng-click="delete()" class="btn btn-danger btn-xs pull-right">delete</div>
        <a href='#/concepts/edit/{{concept.Id}}' class="btn btn-warning btn-xs pull-right">edit</a>
    </div>
    <div class="row" ng-hide='details.isBusy'>
        <div class="row">
            <div class="col-md-12">{{concept.Title}}</div>
        </div>
        <div class="row">
            <div class="col-md-1">{{concept.DisplayCount}}</div>
            <div class="col-md-1">{{concept.VoteDown}}</div>
            <div class="col-md-1">{{concept.VoteUp}}</div>
            <div class="col-md-2 col-lg-offset-5 text-right">{{concept.Created}}</div>
            <div class="col-md-2 text-right">{{concept.Author.DisplayName}}</div>
        </div>
    </div>
    <div class="row" ng-hide='details.isBusy'>
        <div class="col-md-12">
            {{concept.Description}}
        </div>
    </div>
</div>
